*{
  /* This resets our margin and
padding for all elements on our page */
  margin:0;padding:0;
  box-sizing: border-box;
}

body{
  background-color:#fff;
  text-align:center;
}

canvas#defaultCanvas0{
  /* override default sizing */
  height: 100vh !important;
  width: calc( 100vh * 9 / 16 ) !important;
}
